<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <script>
            function filter_onclick() {
                var key = document.getElementById("textbox_filter").value;
                window.location = "/show_page?key=" + key + "&dontincr=1";
            }
        </script>
    </head>
    <body>
        <table id="table_user" border="1">
            <tr>
                <td>UserId</td>
                <td>FullName</td>
                <td>Msisdn</td>
                <td>UserEmail</td>
                <td>BirthDate</td>
                <td>Age</td>
                <td>CreateTime</td>
                <td>UpdateTime</td>
            </tr>
            {{.UsersHtml}}
        </table>
        <br/>
        Filter:
        <input id="textbox_filter" type="text" value="{{.SearchKey}}">
        <input type="button" value="Filter" onclick="javascript: filter_onclick()">
        <br/>
        Visitor Count: {{.VisitorCount}}
    </body>
</html>